article.article {
	background-color: #FFFFFF;
	margin: 1rem 0;
	padding: 1rem 0;
}

h2.article {
	color: #E69000;
	margin: 0.25rem 1rem;
	font-family: Georgia;
}

img.article-author {
	border-radius: 50%;
	width: 30px;
}

section.subheader {
	background-color: #FFFFFF;
}

a.subheader:link, 
a.subheader:visited{
	display:block;
	padding-top : 3px;
	padding-bottom: 3px;
	margin: 0px;
	background-color: #FFFFFF;
	color: #01B1A6;
	text-decoration: none;
}

a.subheader:active {
	background-color: #01B1A6;
	color: #FFFFFF;
	text-decoration: none;
}

a.subheader:hover {
	background-color: #FFFFFF;
	color: #01B1A6;
	text-decoration: underline;
}

button.subheader{
	display:block;
	width: 100%;
	padding: 0.5rem 1rem;
	margin: 0;
	background-color: #FFFFFF;
	color: #01B1A6;
	text-decoration: none;
	border: none;
	text-align: left;
	outline: none;
	font-size: 0.9rem;
}

button.subheader:visited{
	display:block;
	width:100%;
	padding: 0.5rem 1rem;
	margin: 0;
	background-color: #FFFFFF;
	color: #01B1A6;
	text-decoration: none;
	border: none;
	text-align: left;
	outline:none;
	font-size: 0.9rem;
}

button.subheader:hover {
	display:block;
	width:100%;
	background-color: #FFFFFF;
	color: #01B1A6;
	text-decoration: underline;
	border: none;
	text-align: left;
	outline:none;
}

button.subheader:focus {
	display:block;
	width:100%;
	background-color: #01B1A6;
	color: #FFFFFF;
	text-decoration: none;
	border: none;
	text-align: left;
	outline:none;
}

button.subheader:active {
	display:block;
	width:100%;
	background-color: #01B1A6;
	color: #FFFFFF;
	text-decoration: none;
	border: none;
	text-align: left;
	outline:none;
}

ul.subheader {
    margin: 0;
    padding: 0;
}

span.subheader-right-angle {
	color:#cccccc;
	padding: 0 0.5rem;
}

span.subheader-title {
	color:#000000;
	font-family: Helvetica;
}

div.article-grid {
    display: grid;
    grid-template-columns: 180px fit-content(100%) 160px;
    grid-gap: 12px;
}

h4.div-header {
	color: #414141;
	font-weight: normal;
	padding: 0.5rem 1rem;
	margin: 0;
	font-size: 0.9rem;
	font-family: "Open Sans", sans-serif;
}

section.sidebar {
  color: #888888;
}

div.author-bio {
	padding: 0.25rem 1rem;
	font-family: 'Open Sans', sans-serif;
}

span.author-name {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-size:0.8rem;
}

span.published-at {
	display:inline-block;
	font-size : 0.6rem;
	color: #888888;
	width:100%;
	margin: 0 auto;
}

img.article-image {
	width:150px;
	height:150px;
	display:inline;
	float:left;
}

div.name-and-date {
	display: inline-block;
	width : 200px;
	height: 30px;
	padding-left: 5px;
	font-size: 0;
}

div.article-text-and-image {
	padding-left: 1rem;
	display:flex;
}

span.article-text {
	display:inline;
	text-align: justify;
	padding-left: 1rem;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 980px) {
  div.article-grid {
  	display: grid;
    grid-template-columns: 180px fit-content(100%);
    grid-gap: 20px;
  }
  section.sidebar {
  	  display:none;
  }
}

img.trending {
	width : 150px;
	display:block;
	margin:0;
}

span.trending {
	color: #01B1A6;
	display: block;
	font-size:0.8rem;
}

article.trending-article {
	margin-bottom: 1.5rem;
}




  