p.copyright-notice {
	color: #E69000;
	background-color: #AB4400;
	padding-left: 3rem;
	position: relative;
	text-align: center;
	margin : 0px;
	padding : 0.8rem;
	font-size: 0.95rem;
}

ul.link-list {
	list-style: none;
	margin: 5px 0px;
	padding: 0px;
	color: #01B1A6;
	font-size: 0.7rem;
}

li.link-list {
	padding-top: 3px;
}

a.link-list:link {
	color:#01B1A6;
	text-decoration: none;
}
a.link-list:visited {
	color:#01B1A6;
	text-decoration: none;
}
a.link-list:hover {
	color:#01B1A6;
	text-decoration: underline;
}

section.footer {
	background-color: black;
	padding: 15px 0px 0px 0px;
}

figcaption.list-heading {
	color: #8C3F21;
	font-size: 0.9rem;
}

figure.links {
	display: inline-block;
	margin: 0px 20px;
}

div.link-flex {
	display: flex;
	justify-content: space-between;
    margin: 0 100px;
    padding: 1rem 0;
}
