section.form-item {
    display: block;
    margin: 2% 10%;
}

label {
    width: 30%;
    display:inline-block;
}

form {
    display: inline-block;
    margin-left:25%;
    width:80%;
}

input.text-field{
    display:block;
    width: 450px;
    padding: 0.4rem 0.2rem;
    border-style: solid;
    border-radius: 4px;
    border-color: #cccccc;
    margin: 0.5rem 0;
}

select.text-field{
    display:block;
    width: 460px;
    padding: 0.4rem 0.2rem;
    margin: 0.5rem 0;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 4px;
    border-width: 2px;
}

input.phone-field{
    display:block;
    width: 110px;
    padding: 0.4rem 0.2rem;
    border-radius: 4px;
    margin: 0.5rem 0;
    border-style: solid;
    border-color: #cccccc;
}

textarea.notes-area {
    display:block;
    width: 450px;
    height: 75px;
    padding: 0.4rem 0.2rem;
    border-radius: 4px;
    margin: 0.5rem 0;
    border-color: #cccccc;
    border-width: 2px;
}

div.form-element {
    margin: 1.5rem 0;
}

div.radio-button {
    margin: 0.3rem 0;
    font-size: 0.8rem;
}

button.submit-button {
    height:30px;
    width:110px;
    margin: 0.3rem 0;
    border-radius: 4px;
    padding: 0.5rem 1rem 1.5rem;
}

div.notify {
    margin: 0rem 1rem;
    display: inline-block;
    width:200px;
    white-space:nowrap;
    overflow:hidder;
    font-size: 0.8rem;
}

button.submit-button:hover {

}

h1, h2, h3, h4 {
    margin-left: 1rem;
}

section.radio-button {
    display: inline-block;
}

p.error-message {
    color: red;
}

p.form-header {
    padding-left: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
}

div.form-submitter {
    padding-bottom: 2rem;
}