section.header-section {
	background-color: #000000;
	color: #FFFFFF;
}

a.header-section:link{
	float:right;
	padding-right: 1rem;
	text-align: right;
	color: #FFD200;
	height:20px;
	font-size: 0.8rem;
	text-decoration: none;
}

a.header-section:visited{
	float:right;
	padding-right: 1rem;
	text-align: right;
	color: #FFD200;
	height:20px;
	font-size: 0.8rem;
	text-decoration: none;
}

a.header-section:hover {
	text-decoration: underline;
}

nav {
	padding: 6px 9px;
}

div.header-section {
	text-align: center;
	display: inline-block;
}


.header-bar{
	background-color: #414141;
    font-size: 1em;
}

div.header-links-bar {
	background-color: #414141;
    font-size: 1em;
    padding: 0.5rem 0;
}

a.header-links:link, 
a.header-links:visited
{
	color: #E69000;
	padding: 1rem;
	text-decoration: none;

}

a.header-links:hover{
	color: #FFBD00;
	padding: 1rem;
}

a.selected-header-link:link,
a.selected-header-link:visited
{
	color:#FFFFFF;
	padding: 1rem;
	text-decoration: none;
}

img#header-image-grid {
    width:150px;
	padding-left: 1rem;
}

div#header-grid {
	display: grid;
    grid-template-columns: 180px 1fr 180px;
    grid-gap: 1rem;
    padding-bottom: 0.5rem;
}

h1#header-heading-grid {
	display: inline;
	text-align: center;
	padding: 0;
	margin: 0;
}

a#header-grid-login:link {
	text-align:right;
	padding: 0.5rem 1rem;
	color: #FFD200;
	height:20px;
	font-size: 0.8rem;
	text-decoration: none;
}

a#header-grid-login:visited {
	text-align:right;
	padding-right: 1rem;
	color: #FFD200;
	height:20px;
	font-size: 0.8rem;
	text-decoration: none;
}

a#header-grid-login:hover {
	text-decoration: underline;
}
