tr:nth-child(even) {
    background: #FFFFFF
}

tr:nth-child(odd) {
    background: #D6DADF
}

tr.heading {
    background: #FFFFFF
}

table {
    border: 1px solid #CCC;
    border-collapse: collapse;
    margin: 0 1rem;
    width: 96%;
    overflow:hidden;
}

td {
    border: none;
}

th, td {
    font-size: 0.7rem;
    text-align: left;
    padding: 6px;
}

td.link-column {
    text-align: right;
}

div.button-bar {
    overflow:hidden;
    margin: 0.5rem 1rem 2rem 1rem;
}

button.add-new-employee {
    display: inline-block;
    float:left;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #01B1A6;
    padding: 0.2rem 0.4rem;
}

button.add-new-employee:hover {
    background-color: #004741;
}

button.add-new-employee:active {
    background-color: #004741;
    color: #01B1A6;
}

button.delete-user {
    background:none;
    border:none;
    color: #01B1A6;
    font-size: 0.7rem;
    margin:0;
    padding:0;
    cursor: pointer;
}

button.sort-table {
    background:none;
    border:none;
    cursor: pointer;
    padding:0;
    font-weight:bold;
    font-family:helvetica;
}

button.sort-table:focus {
    outline:none;
}

button.delete-user:hover {
    background:none;
    border:none;
    color: #01B1A6;
    text-decoration: underline;
}

section.pagination-buttons {
    display: inline-block;
    float:right;
    vertical-align: middle;
}

button.pagination-button{
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #888888;
    border-width: 1px;
    padding: 0.2rem 0.4rem;
}

button.pagination-button:active {
    background-color: #888888;
}

button.pagination-button:disabled {
    background-color: #F0F0F0;
}

button.previous-next-button{
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #888888;
    border-width: 1px;
    padding: 0.2rem 0.4rem;
}

button.previous-next-button:disabled {
    color: #cccccc;
}

h2#users-header {
    font-weight: normal;
    display: inline-block;
    color: #414141;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

input#search-bar {
    float:right;
    margin: 0.3rem 1rem; 
    border-style: solid;
    border-radius: 20px;
    border-color: #cccccc;
    padding: 0.25rem;
}

input::placeholder {
    color: #cccccc;
    padding: 0.25rem;
}

span.link-divider {
    padding: 0 0.25rem;
}
