.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #F0F0F0;
  font-family: helvetica;
}

button.main {
  background-color: #01B1A6;
  color: #FFFFFF;
}

button.main:hover {

}

button.non-submit {
  margin: 0 auto;
  display: block;
}

section.cover-content {

}

a.main:link {
  color: #01B1A6;
  text-decoration: none;
}

a.main:hover {
  text-decoration: underline;
}

a.main:visited {
  color: #01B1A6;
  text-decoration: none;
  font-size: 0.7em;
}

